{% extends 'base_login.html' %}

{% block content %}


<form method="POST">{% csrf_token %}
    <p>タイトル：<input type="text" name="title"></p>
    <p>メモ：<input type="text" name="memo"></p>
    <p>期日：<input type="date" name="duedate" id="today"></p>

    <p>優先度：
        <label><input type="radio" name="priority" value="danger">高</label>
        <label><input type="radio" name="priority" value="warning">中</label>
        <label><input type="radio" name="priority" value="primary">低</label>
    </p>
    <input type="hidden" name="author" value={{ user.username }}>
    <input type="submit" value="create">
</form>
{% endblock content %}